.range-input-element {
  --range-dot-size: 12px;
  --range-track-height: 4px;
  --range-track-width: 300px;
  --range-wraper-height: calc(var(--range-dot-size) * 1.5);
  --range-track-covered: 10%;
  --range-track-bg: hsl(0, 0%, 22%);
  --range-track-covered-bg: hsl(0, 0%, 78%);
}

.range-wraper,
.range-wraper > * {
  display: inline-block;
}

.range-wraper {
  width: calc(var(--range-track-width) + var(--range-dot-size));
  height: var(--range-wraper-height);
  position: relative;
  cursor: pointer;
}

.range-track {
  width: calc(100% - var(--range-dot-size));
  height: var(--range-track-height);
  background-color: var(--range-track-bg);
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: calc(var(--range-dot-size) / 2);
  pointer-events: none;
}

.range-width {
  width: var(--range-track-covered);
  position: absolute;
  inset: 0px auto 0px 0px;
  background-color: var(--range-track-covered-bg);
}

.range-dot {
  width: var(--range-dot-size);
  height: var(--range-dot-size);
  background-color: var(--range-track-covered-bg);
  border-radius: 100%;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(50%, -50%);
}
